@mixin rounded-corners($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
  }

@mixin font-size($font) {
  -webkit-font-size: $font;
       -moz-font-size: $font;
        -ms-font-size: $font;
          font-size: $font;
}