@mixin rounded-corners($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
  }

// @mixin borders($px, $style, $color) {
//     -webkit-border: $border-style;
//        -moz-border: $border-style;
//         -ms-border: $border-style;
//             border: $border-style;
// }