$header-color: linear-gradient(white, #3f7b9e);
$white: rgb(255, 255, 255);
$black: #000;
$card-color: lighten(#3f7394, 35%);
$thicker-border: 2px solid $black;
$small-border: 1px solid $black;
$hover-color: #8f8f8f;
$primary-background: #e7f6ff;
$recipe-color: #336d8f;
// $radius;
// $border;
// $click-color: 