@import "variables";
@import "mixins";

html {
  background-color: $HTML-color;
  border: $thicker-border;
  height: 100vh;
}

body {
  box-sizing: border-box;
  font-family: $main-font;
  margin: auto;
}

.main-header {
  background: $header-color;
  border: $thicker-border;
  display: flex;
  height: auto;
  justify-content: space-between;
  width: 100%;
}

.navButton {
  border: $small-border;
  height: 60px;
  margin: 1%;
  margin-top: 27px;
  @include rounded-corners(15px);
  @include font-size(80%);
}

h1 {
  border-right: $thicker-border;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
  width: 30%;
  @include font-size(225%);
}

h2 {
  grid-column: 1/5;
}

.user-info {
  margin: auto;
  text-align: center;
  width: 40%;
  @include font-size(150%);
}

.search-bar {
  display: flex;
  height: 100%;
  margin: 10px 0px 10px 0px;
  width: 30%;
}

.search-button {
  border: $small-border;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  @include rounded-corners(15px);
}

.search-image,
.card-button,
.navButton,
.search-button {
  background-color: $white;

  &:hover {
    background-color: $hover-color;
  }

  &:active {
    background-color: $active-button;
  }
}

#search-input {
  border: $small-border;
  min-height: 7vh;
  margin: 20px 7px 0px 10px;
  padding-left: 5px;
  width: 90%;
  @include font-size(100%);
}

.card-button {
  border: $small-border;
  height: 27px;
  margin: 3px;
  @include rounded-corners(5px);
}

.add-button {
  background-color: $white;
  background-image: url(https://image.flaticon.com/icons/svg/747/747944.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  width: 13%;
}

.hidden {
  display: none;
}

.favorite {
  background-color: $white;
  background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 13%;
}

.all-cards {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 0 30px 30px;
  width: 95.5vw;
}

img {
  cursor: pointer;
}

.card {
  background-color: $white;
  border: 3px solid $black;
  width: 100%;
  @include rounded-corners(5px);
}

.card-header {
  background-color: $card-color;
  border-bottom: $small-border;
  display: flex;
  justify-content: space-between;
}

.all {
  grid-gap: 0px;
  grid-template-columns: repeat(1, 1fr);
}

.all-recipe-info,
ol {
  color: $recipe-text-color;
  width: 100%;
  @include font-size(125%);
}

h3 {
  color: $recipe-text-color;
  font-size: 250%;
}

.recipe-name {
  display: block;
  text-align: center;
  @include font-size(150%);
}

.card-picture:hover {
  opacity: 0.7;
}

.card-picture:active {
  border: $thicker-border
}

.card-picture {
  border: $small-border;
  height: 200px;
  margin: 10px 3% 8px 2.6%;
  width: 94%;
}

main {
  background-color: $primary-background;
  height: 100%;
  width: 100%;
}

.favorite-active {
  background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
  background-repeat: no-repeat;
}

.pantry-list {
  color: #000000;
  height: 100px;
  width: 100px;
  align-self: center;
  text-align: center;
  visibility: hidden;
}
