@import "variables";
@import "mixins";

html {
  background-color: rgb(36, 133, 175);
  border: $thicker-border;
  height: 100vh;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}

.main-header {
  background: $header-color;
  border: $thicker-border;
  display: flex;
  height: auto;
  justify-content: space-between;
  width: 100%;
}

.navButton {
  background-color: $white;
  border: $small-border;
  height: 60px;
  font-size: 80%;
  margin: 1%;
  border-radius: 15px; 
  margin-top: 27px;
}

h1 {
  border-right: $thicker-border;
  font-size: 255%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
  width: 30%;
}

.user-info {
  font-size: 150%;
  margin: auto;
  text-align: center;
  width: 40%
}

.search-bar {
  display: flex;
  height: 100%;
  margin: 10px 0px 10px 0px;
  width: 30%;
}

.search-button {
  background-color: $white;
  border: $small-border;
  width: 20%;
  height: 50px;
  margin-top: 20px;
  border-radius: 15px;
}

.search-image:hover,
.card-button:hover,
.navButton:hover,
.search-button:hover {
  background-color: $hover-color;
}

.search-image:active,
.card-button:active,
.navButton:active,
.search-button:active {
  background-color: $active-button;
}

#search-input {
  border: $small-border;
  font-size: 100%;
  min-height: 7vh;
  margin: 20px 7px 0px 10px;
  padding-left: 5px;
  width: 90%;
}

.card-button {
  border: $small-border;
  height: 27px;
  margin: 3px;
  border-radius: 5px;
}

.add-button {
  background-color: $white;
  background-image: url(https://image.flaticon.com/icons/svg/747/747944.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  width: 13%;
}

// .add {
//   //what is this doing?
//   width: 100%;
// }

.hidden {
  display: none;
}

.favorite {
  background-color: $white;
  background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 13%;
}

.all-cards {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 0 30px 30px;
  width: 95.5vw;
}

img {
  cursor: pointer;
}

.card {
  background-color: $white;
  border: 3px solid $black;
  width: 100%;
  border-radius: 5px;
}


.card-header {
  background-color: $card-color;
  border-bottom: $small-border;
  display: flex;
  justify-content: space-between;
}

.all {
  grid-gap: 0px;
  grid-template-columns: repeat(1, 1fr);
}

.all-recipe-info,
ol {
  color: $recipe-text-color;
  font-size: 125%;
  width: 100%;
}

h3 {
  color: $recipe-text-color;
  font-size: 250%;
}

.recipe-name {
  display: block;
  font-size: 150%;
  text-align: center;
}

.card-picture:hover {
  opacity: 0.7;
}

.card-picture:active {
  border: $thicker-border
}

.card-picture {
  border: $small-border;
  height: 200px;
  margin: 10px 3% 8px 2.6%;
  width: 94%;
}

main {
  background-color: $primary-background;
  height: 100%;
  width: 100%;
}

.favorite-active {
  background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
  background-repeat: no-repeat;
}

.pantry-list {
  color: #000000;
  height: 100px;
  width: 100px;
  align-self: center;
  text-align: center;
  visibility: hidden;
}
